@use "~/scss/abstracts" as *;

.breadcrumbs {
  margin: 20px 10px 10px 20px;
  padding: 10px;
  background: var(--gradient-breadcrumbs);
}

.breadcrumbs .breadcrumbs-links {
  color: var(--font-link-color-1);
  font-weight: 600;
  text-decoration: none;
}

.breadcrumbs > span {
  color: var(--font-breadcrumbs-curent-position);
}
