@use "~/scss/abstracts" as *;

.text-box {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 20px 0 20px;
  // background-color: rgb(68, 180, 180);
  position: relative;
  @include screen-xs {
    // width: 200px;
  }
}

.text-box p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-style1 {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: start;
}

.text-style1 div {
  padding-left: 20px;
}

.text-style1 img {
  margin-top: 10px;
}

.text-box h1,
.text-box h2,
.text-box h3,
.text-box h4,
.text-box h5,
.text-box h6 {
  padding-top: 20px;
  padding-bottom: 10px;
}
.text-box h2 {
  font-size: 1.7em;
}
.text-box h3 {
  font-size: 1.4em;
}
.text-box h4 {
  font-size: 1.3em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-clear {
  clear: both;
}

.text-box a {
  color: rgb(167, 219, 253);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  text-decoration: none;
}

/* #429ecd */

.text-box ul li {
  color: #fff;
}

/* ---MAP--- */

.map > iframe {
  border-radius: 20px;
}
