@use "~/scss/abstracts" as *;

.container {
  display: grid;
  inline-size: 100%;
  min-block-size: 100%;
  margin-inline: auto;
  border-radius: 20px;
  overflow: hidden;
}

.body-stretched {
  max-width: 100%;
}

.body-arranged-md {
  max-width: 1500px;
}
