:root {
  --page-background: #96b3d1;
  --main-color-1: rgba(58, 91, 132, 1); /*#3a5b84*/
  --main-color-2: rgba(32, 50, 72, 1); /*#203248*/
  --main-color-3: rgba(64, 136, 181, 1);
  --main-color-4: rgba(69, 180, 228, 1); /*#45B4E4*/
  /*===*/
  --main-color-5: rgba(217, 217, 217, 1); /*#D9D9D9*/
  --main-color-6: rgba(238, 229, 229, 1); /*#EEE5E5*/
  --main-color-7: rgba(150, 179, 209, 1); /*#96B3D1*/
  --main-color-8: rgba(189, 243, 255, 1); /*#BDF3FF*/
  --main-color-9: rgba(0, 123, 177, 1); /*#007BB1*/
  --main-color-10: rgba(123, 153, 184, 1); /*#7b99b8*/
  --main-color-11: rgba(213, 234, 255, 1); /*#D5EAFF*/
  --main-color-12: rgb(223, 245, 255, 1); /*#DFF5FF*/

  --main-color-4-mobile1: rgba(69, 180, 228, 0.3);
  --main-color-4-mobile2: rgba(69, 180, 228, 0.7);

  --menu-color-1: rgba(167, 219, 253, 1);
  --menu-color-2: rgba(0, 123, 177, 1);

  --gradient-1: linear-gradient(
    180deg,
    var(--main-color-1) 0%,
    var(--main-color-2) 100%
  );
  --gradient-2: linear-gradient(
    0deg,
    var(--main-color-1) 0%,
    var(--main-color-3) 70%,
    var(--main-color-4) 100%
  );

  --gradient-breadcrumbs: linear-gradient(
    90deg,
    rgba(58, 91, 132, 0.733) 0%,
    rgba(32, 50, 72, 0.521) 40%,
    rgba(32, 50, 72, 0) 50%,
    rgba(32, 50, 72, 0) 100%
  );
  --font-content: rgba(233, 233, 233, 1);
  --table-color-1: rgba(145, 213, 255, 1);
  --font-link-color-1: rgba(255, 255, 255, 1);
  --font-breadcrumbs-curent-position: rgba(175, 194, 214, 1);
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  background-color: var(--page-background);
  background-image: url(/images/backgroundsite.webp);
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
  overflow-y: scroll;
}

/* * {
  border: solid 1px red;
} */

/* 
XL – 1440 – 1920 desktop
LG 1200 – 1439 desktop
MD 992 – 1199 desktop
SM 768 – 991 Tablet
XS 320 – 767 Mobile 
*/
