/*=========table==========*/

.stuff-table {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.stuff-table .stuff-table-row:nth-child(odd) .stuff-table-cell {
  background-color: var(--main-color-10);
}

.stuff-table-row {
  display: grid;
  gap: 3px;
  grid-template-columns: 1.5fr 1fr repeat(3, 0.7fr) repeat(2, 1fr);
}
.stuff-table-cell {
  min-height: 50px;
  background-color: var(--main-color-7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.stuff-table-cell img {
  width: 30px;
  height: 30px;
  filter: grayscale(100%);
  transition: 0.2s;
}

.cell-option-edit:hover img,
.cell-option-delete:hover img,
.cell-option-update-calendar:hover img {
  filter: grayscale(0);
}

.stuff-table .stuff-table-row.th-cell .stuff-table-cell {
  font-size: 1.1em;
  background-color: var(--main-color-1);
  color: #fff;
  font-weight: 300;
}
.cell-option-edit,
.cell-option-delete,
.cell-option-update-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--main-color-3);
  border-radius: 10px;
  padding: 5px;
  color: #fff;
}

.cell-option-edit:active,
.cell-option-delete:active,
.cell-option-update-calendar:active {
  scale: 0.95;
  transition: 0.2s;
}

.stuff-table-cell:has(.cell-option-edit) {
  display: flex;
  gap: 20px;
}

/*=========form==========*/

.stuff-table form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
}
.stuff-table label,
.stuff-table input {
  width: 100%;
  color: #fff;
  display: block;
  font-weight: 300;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}
.stuff-table input {
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  background: rgba(58, 91, 132, 0.2);
  border: 1px solid rgba(58, 91, 132, 0.5);
  margin-top: 5px;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.stuff-table input::placeholder {
  color: var(--main-color-2);
  text-shadow: none;
}

.stuff-table input[type="submit"] {
  font-size: 1em;
  background: rgba(58, 91, 132, 0.8);
}
