@use "~/scss/abstracts" as *;

.slider {
  width: 100%;
  height: 750px;
  position: relative;
  /* max-width: 1920px; */
  transition: 1.5s;
  @include screen-xs {
    height: 400px;
  }
}

.slide {
  transition: 1.5s;
  opacity: 1;
  z-index: 1000;
}

.slideoff {
  opacity: 0;
  transition: 1.5s;
  z-index: 0;
}

.slider img {
  width: 100%;
  height: 750px;
  object-fit: cover;
  z-index: 5;
  position: absolute;
  @include screen-xs {
    height: 400px;
  }
}

.appla {
  width: 100%;
  height: 750px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include screen-xs {
    height: 400px;
  }
}

.slider-heading-1 {
  color: aliceblue;
  font-size: 3.2em;
  text-shadow: #000000 2px 2px 10px;
  text-align: center;
  width: 80%;
  @include screen-xs {
    font-size: 24px;
  }
}
.slider-heading-2 {
  padding: 20px 0 20px 0;
  font-size: 1.5em;
  width: 100%;
  color: rgb(224, 246, 255);
  text-align: center;
  text-shadow: rgb(0, 0, 0) 4px 4px 5px;
  @include screen-xs {
    font-size: 16px;
  }
}

.slider-heading-3 {
  padding: 20px 0 20px 0;
  font-size: 1.2em;
  color: rgb(170, 230, 255);
  text-align: center;
  text-shadow: rgb(170, 230, 255) 2px 2px 10px;
}

.controls-button {
  position: absolute;
  bottom: 30px;
  width: 100%;
  // height: 690px;
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 10;
  @include screen-xs {
    bottom: 5px;
  }
}

.control-button-slide {
  height: 35px;
  width: 260px;
  bottom: 10px;
  background: linear-gradient(
    to right top,
    rgba(60, 105, 147, 0.412),
    rgba(108, 218, 235, 0.42)
  );
  box-shadow: 0px 0px 6px 0px rgb(101, 186, 199);
  border-radius: 15px;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow {
  position: absolute;
  z-index: 10;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.left-arrow,
.right-arrow {
  top: 33%;
  width: 100px;
  background: rgba(172, 255, 47, 0);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  @include screen-xs {
    transform: scale(0.5);
    display: none;
  }
}

.slide-button {
  height: 20px;
  width: 20px;
  background: #aae6ff38;
  z-index: 10;
  border-radius: 50%;
  border: 2px rgb(174, 224, 245) solid;
  cursor: pointer;
}

.slide-button:hover {
  background: rgba(175, 231, 255, 0.698);
  box-shadow: 0px 0px 6px 0px rgb(16, 73, 82) inset;
}

.active-slide-button {
  background: #aae6ff;
  box-shadow: 0px 0px 6px 0px rgb(12, 75, 85) inset;
}
