.option {
  // background-color: rgb(64, 136, 181, 0.3);
  // backdrop-filter: blur(10px);
  box-sizing: border-box;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 40px 1fr;
  height: 100%;
  gap: 2px;
  color: aliceblue;
}
