@use "~/scss/abstracts" as *;

.menu {
  border-radius: 15px;
  height: 100%;
  background: var(--gradient-2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: inset 0px -8px 15px 0px rgba(0, 0, 0, 0.5);
  @include screen-xs {
    flex-direction: row;
    height: auto;
    padding: 5px 0;
    justify-content: space-around;
  }
}
.menu .menu-logo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  @include screen-xs {
    margin-top: 0px;
  }
}

.menu .menu-logo img {
  width: 170px;
  height: 100px;
  @include screen-xs {
    width: 100%;
    height: auto;
    max-width: 80px;
  }
}

.menu .menu-sidebar {
  flex-grow: 1;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include screen-xs {
    display: none;
    flex-direction: row;
    margin-top: 0px;
  }
}

.menu .menu-sidebar .sidebar-li {
  display: flex;
  gap: 5px;
  align-items: center;

  text-align: center;
  background: var(--main-color-9);
  padding: 10px;
  color: var(--main-color-5);
  margin: 0px 10px;
  font-weight: 300;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2),
    0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  @include screen-xs {
    font-size: 0;
    gap: 0;
  }
}

.menu .menu-sidebar .active-menu-tab .sidebar-li {
  background: var(--main-color-1);
  color: var(--main-color-5);
}
.menu .menu-sidebar :not(.active-menu-tab) .sidebar-li:hover {
  background: var(--main-color-4);
  color: var(--main-color-5);
}

.menu .menu-sidebar a,
.menu .menu-account a {
  text-decoration: none;
}

.menu .menu-sidebar .sidebar-li.active {
  background: var(--main-color-9);
  color: var(--main-color-4);
}

.menu .menu-account {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
  gap: 10px;
  @include screen-xs {
    font-size: 0.8em;
    gap: 0px;
    margin-bottom: 0px;
  }
}

.account-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 15px;
  font-size: 1rem;
  border-radius: 5px;
  background: var(--main-color-3);
  color: var(--main-color-5);
  transition: background-color 0.3s ease;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2),
    0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  @include screen-xs {
    font-size: 0;
    gap: 0;
  }
}

.account-profile:hover {
  background: var(--main-color-1);
  color: var(--main-color-5);
}

.info-account {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--main-color-5);
  @include screen-xs {
    display: none;
  }
}

.info-account-date {
  color: var(--main-color-5);
  @include screen-xs {
    display: none;
  }
}

.extend-session {
  @include screen-xs {
    display: none;
  }
}
/*========================*/
