@use "~/scss/abstracts" as *;

.footer-conteiner {
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}

.footer-css {
  background-color: #3a5b84;
  background: rgb(58, 91, 132);
  background: linear-gradient(
    180deg,
    rgba(58, 91, 132, 1) 0%,
    rgba(32, 50, 72, 1) 100%
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  box-shadow: 1px -3px 20px 0px black;

  @include screen-xs {
    flex-direction: column;
    height: auto;
  }
}

.footer-css > div,
.footer-css > a {
  @include screen-xs {
    margin-top: 10px;
  }
}

a.button-nav {
  color: #ffffff;
  text-decoration: none;
}
.quick-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quick-contact a,
.quick-contact {
  color: #fff;
  text-decoration: none;
}

.quick-contact p {
  text-align: center;
  @include screen-xs {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footer-css .footer-logo {
  height: 5rem;
  @include screen-xs {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.footer-logo img {
  @include screen-xs {
    transform: scale(1.5);
  }
}

.copyright {
  height: 2rem;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
