.content p {
  color: rgb(233, 233, 233);
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: rgb(233, 233, 233);
}

.content img.imgRight {
  width: 40%;
  float: right;
}

table.price-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  display: table;
  flex-direction: column;
  /* padding: 0px 40px; */
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5px;
}

table.price-table td {
  /* border: 1px solid #000; */
  /* width: 100%; */
  padding: 10px;
}

table.price-table td strong {
  font-weight: 800;
}

.price-table th {
  font-size: 18px;
  padding: 20px;
  background-color: #00517c;
  /* border: 1px solid #000000; */
  color: #91d5ff;
}

.price-table td:nth-child(2n-1) {
  background-color: #91d5ff;
}
.price-table td:nth-child(2n) {
  background-color: #72c7ff;
}
.price-table td:nth-child(1) {
  background-color: #00517c;
  color: #91d5ff;
  width: 25%;
}

.price-table th,
.price-table td {
  border-radius: 5px;
  box-shadow: 4px 4px 10px 2px black;
}

table.price-table {
  /* width: 25%; */
  text-align: center;
}

.contentimg {
  box-shadow: 0px 3px 6px 1px rgb(0, 0, 0);
  border-radius: 20px;
  margin: 0px 0px 40px 40px;
}
