@use "~/scss/abstracts" as *;

:root {
  --module-infobox-height: 400px;
}

.infoBox {
  /* height: var(--module-infobox-height); */
  margin: 0px 0 0px 0;
  background-color: rgba(25, 49, 187, 0);
  width: 100%;
}

.infoBox-content {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: inset 0px 0px 20px 2px rgb(3, 16, 34),
    0px 0px 20px 2px rgb(3, 16, 34);
  @include screen-xs {
    background-position-x: -500px;
  }
}

.infoBox .appla {
  width: 100%;
  height: 100%;
  background-color: rgba(170, 230, 255, 0);
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoBox .text-part {
  height: 100%;
  position: absolute;
  background-color: rgba(58, 91, 132, 0.88);
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 40px;
  color: rgb(255, 255, 255);
  @include screen-xs {
    font-size: 1.1em;
  }
}

.infoBox .text-part > * {
  //padding: 10px;
}

.infoBox.type1 .text-part {
  right: 0;
  width: 50%;
  @include screen-xs {
    width: 100%;
    align-items: flex-end;
  }
}
.infoBox.type2 .text-part {
  left: 0;
  width: 50%;
  @include screen-xs {
    width: 100%;
  }
}
.infoBox.type3 .text-part {
  width: 100%;
  padding: 0 20vw 0 20vw;
  @include screen-xs {
    padding: 0 0 0 40px;
  }
}

.infoBox h1,
.infoBox h2,
.infoBox p {
  color: rgb(255, 255, 255);
}

.infoBox h1,
.infoBox h2 {
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 5px;
  @include screen-xs {
    margin-right: auto;
  }
}
