@use "~/scss/abstracts" as *;

.content {
  display: flex;
  flex-direction: column;
}
.content p {
  color: var(--font-content);
}
.content h1,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: var(--font-content);
}
.content h2 {
  color: rgba(68, 179, 227, 1);
}

.content img.imgRight {
  width: 40%;
  float: right;
  @include screen-xs {
    width: 100%;
  }
}

.content img.imgFull {
  width: 100%;
  float: right;
}

table.price-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  display: table;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5px;
}

table.price-table td {
  /* border: 1px solid #000; */
  /* width: 100%; */
  padding: 10px;
}

table.price-table td strong {
  font-weight: 800;
}

.price-table th {
  font-size: 1.2em;
  padding: 20px;
  background-color: rgb(0, 81, 124);
  /* border: 1px solid #000000; */
  color: var(--table-color-1);
}

.price-table td:nth-child(2n-1) {
  background-color: var(--table-color-1);
}
.price-table td:nth-child(2n) {
  background-color: #72c7ff;
}
.price-table td:nth-child(1) {
  background-color: #00517c;
  color: var(--table-color-1);
  width: 25%;
}

.price-table th,
.price-table td {
  border-radius: 5px;
  box-shadow: 4px 4px 10px 2px black;
}

table.price-table {
  /* width: 25%; */
  text-align: center;
}

.contentimg {
  box-shadow: 0px 3px 6px 1px rgb(0, 0, 0);
  border-radius: 20px;
  margin: 0px 0px 40px 40px;
}

// ==================404===================

.content h1 {
  font-size: 1.8em;
}

.content .margin-bottom {
  margin-bottom: 20px;
}
.content .margin-top {
  margin-top: 20px;
}

//=================OFFERS===================
@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,slnt,wght@12..36,-6..0,300..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");

.offer-contener {
  column-count: 2;
  column-gap: 20px;
  padding: 20px;
  @include screen-xs {
    column-count: 1;
    padding: 5px;
  }
}

.offer-box,
.offer-box-full {
  // flex: 1 1 calc(50% - 1rem); /* 2 kolumny */
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--main-color-12);
  width: 100%;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 10px;
  box-shadow: var(--main-color-7) 0px 0px 2px 2px;
  margin: 0 0 20px 0;
  break-inside: avoid;
  @include screen-xs {
    margin: 0 0px 20px 0px;
    gap: 5px;
    font-size: 14px;
  }

  h4 {
    color: var(--main-color-2);
    // text-shadow: var(--main-color-5) 0px 2px 4px;
    margin-top: 0px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
    @include screen-xs {
      font-size: 21px;
    }
  }
  h5 {
    color: var(--main-color-2);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  h6 {
    margin-top: 15px;
    font-size: 17px;
    color: var(--main-color-2);
  }

  p,
  ul,
  li {
    font-family: "TikTok Sans", sans-serif;
    color: #000;
  }
  li {
    background: none;
    list-style-type: disc;
    display: list-item;
    padding-left: 0;
    padding-top: 0;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-3);
    width: 50px;
    height: 50px;
    border-radius: 25%;
    border: 1px solid var(--main-color-2);
    box-shadow: var(--main-color-2) 0px 0px 6px 2px;
  }

  &-content {
    padding: 10px 0 10px 0;
  }
  // .offer-box-content-split {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  // }

  &-link {
    @include screen-xs {
      font-size: 14px;
    }
  }
}

// .offer-box-full {
//   grid-column: 1 / -1;
// }

// .offer-content-split {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

.flag {
  position: absolute;
  max-width: 80px;
  box-shadow: 0px 3px 6px 1px rgb(0, 0, 0);
  border-radius: 20px;
  left: 270px;
}
