.admin-dashboard {
  height: 100%;
  background-color: rgb(64, 136, 181, 0.3);
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: 100px repeat(7, 1fr);
  gap: 10px;
  border-radius: 15px;
}
.box .icon img {
  filter: brightness(0) saturate(100%);
}
