@use "~/scss/abstracts" as *;

.section-type1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  /* flex-wrap: wrap;*/
  /* min-width: 200px; */
  @include screen-xs {
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
  }
}

.section-type1 p {
  font-size: 1.2em;
}
