@use "~/scss/abstracts" as *;

.social-media {
  position: fixed;
  width: 50px;
  height: 100px;
  z-index: 1000;
  top: 140px;
  right: 0%;
}

.social-media img {
  margin-top: 10px;
  padding-right: 10px;
}
