@use "~/scss/abstracts" as *;

.parallax {
  width: 100%;
  height: 400px;
  position: relative;
  margin-bottom: -50px;
}

.parallax div.pralax-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  z-index: 5;
  position: absolute;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0px;
  @include screen-md {
    background-position-y: 250px;
  }
  @include screen-xl {
    background-position-y: 200px;
  }
  @include screen-sm {
    background-position-y: 200px;
  }
  @include screen-xs {
    background-position-y: 140px;
  }
}

.appla {
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.507);
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parallax-heading-1 {
  color: aliceblue;
  font-size: 2em;
  text-shadow: #aae6ff 2px 2px 10px;
  @include screen-xs {
    font-size: 1.2em;
  }
}
.parallax-heading-2 {
  padding: 20px 0 0 20px;
  font-size: 1.2em;
  color: #aae6ff;
  text-shadow: #aae6ff 2px 2px 10px;
}
