@use "~/scss/abstracts" as *;

.footer-conteiner {
  bottom: 0px;
  width: 100%;
  margin-top: 50px;
}

.footer-css {
  background-color: var(--main-color-1);
  background: var(--gradient-1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  box-shadow: 1px -3px 20px 0px rgb(0, 0, 0);

  @include screen-xs {
    flex-direction: column;
    height: auto;
  }
}

.footer-css > div,
.footer-css > a {
  @include screen-xs {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.footer-css > a {
  @include screen-xs {
    height: 30px;
    display: flex;
    align-items: flex-end;
  }
}

a.button-nav {
  color: var(--font-link-color-1);
  text-decoration: none;
}
.quick-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quick-contact a,
.quick-contact {
  color: var(--font-link-color-1);
  text-decoration: none;
}

.quick-contact p {
  text-align: center;
  @include screen-xs {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footer-css .footer-logo-div {
  height: 6rem;
  width: 250px;
  display: flex;
  justify-content: center;
  @include screen-xs {
    margin-top: 35px;
    margin-bottom: 20px;
  }
}
.footer-logo-image {
  height: 6rem;
  // width: 150px;
  gap: 10px;
  display: flex;

  justify-content: center;
  align-items: center;
  @include screen-xs {
    flex-direction: column;
  }
}

.footer-logo-div img {
  @include screen-xs {
    // transform: scale(1.5);
  }
}

.copyright {
  background-color: rgb(0, 0, 0);
  color: var(--font-link-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
}

.sitn-logo-image {
  height: 4rem;
}
