@use "~/scss/abstracts" as *;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

// * {
//   border: 1px solid red;
// }

.navbar-css {
  background-color: var(--main-color-4);
  background: var(--gradient-2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  box-shadow: 0px 2px 20px 0px rgb(0, 0, 0);
  /* , inset 0px 3px 20px 0px black; */
  // @include screen-xs {
  //   display: grid;
  //   grid-template-areas: "logo link menu";
  // }
  @include screen-xs {
    justify-content: space-between;
  }
}

menu.navbar-menu-sidebar {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  align-items: center;
  z-index: 500;
  // width: 1000px;
  @include screen-sm {
    gap: 5px;
  }
  @include screen-xs {
    transition: 0.5s;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 0px;
    right: 0px;
    z-index: 999;
    transition: all 0.5s ease;
    background-color: var(--main-color-4-mobile1);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
}

menu.navbar-menu-sidebar li {
  list-style: none;
  background: none;
  height: 50px;
  padding: 0px;
  margin: 0px;
  min-width: 80px;
  @include screen-xs {
    width: 100%;
  }
}
menu.navbar-menu-sidebar button {
  all: unset;
  cursor: pointer;
  height: 50px;
  padding: 0 25px;
  margin: 0px;
  min-width: 80px;
  color: #fff;
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.7s ease;
  // padding: 15px;
  // border-radius: 100vmax;
  // box-shadow: 1px 1px 5px 1px #3a5b84, inset 1px 1px 20px 1px #3a5b84;
  @include screen-lg {
    padding: 0 15px;
  }
  @include screen-md {
    padding: 0 10px;
  }
  @include screen-sm {
    padding: 0 5px;
  }
  @include screen-xs {
    width: 100%;
    background-color: var(--main-color-4-mobile2);
    font-size: 1.2rem;
    color: var(--menu-color-3);
    padding: 0px;
  }

  &:hover {
    border-radius: 5px;
    background-color: var(--menu-color-1);
    color: var(--menu-color-2);
  }
}

menu.navbar-menu-sidebar li a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.7s ease;
  @include screen-lg {
    padding: 0 15px;
  }
  @include screen-md {
    padding: 0 10px;
  }
  @include screen-sm {
    padding: 0 5px;
  }
  @include screen-xs {
    width: 100%;
    background-color: var(--main-color-4-mobile2);
    font-size: 1.2rem;
    color: var(--menu-color-3);
  }
}
menu.navbar-menu-sidebar li a:hover {
  background-color: var(--menu-color-1);
  color: var(--menu-color-2);
}

.button-hamburger-close,
.button-hamburger-open {
  fill: #060707;
  display: none;
  @include screen-xs {
    display: flex;
  }
}

.button-hamburger-open {
  @include screen-xs {
    min-width: 80px;
  }
}

.button-hamburger-close {
  @include screen-xs {
    display: flex;
    justify-content: flex-end;
  }
}

a.button-nav {
  color: #fff;
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  // padding: 15px;
  // border-radius: 100vmax;
  // box-shadow: 1px 1px 5px 1px #3a5b84, inset 1px 1px 20px 1px #3a5b84;
  @include screen-xs {
    color: var(--main-color-2);
  }
}

.quick-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  // min-width: 250px;
  // flex-grow: 1;
  width: 30%;
  @include screen-md {
    width: 25%;
  }
  @include screen-sm {
    width: 25%;
  }
  @include screen-xs {
    grid-area: link;
    min-width: 150px;
    display: none;
  }
}

.quick-contact a {
  color: #a7dbfd;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  text-decoration: none;
  @include screen-sm {
    font-size: 14px;
  }
  @include screen-xs {
    font-size: 12px;
  }
}

.navbar-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 10px;
  @include screen-md {
    width: 25%;
  }
  @include screen-sm {
    // min-width: 150px;
    width: 25%;
  }
  @include screen-xs {
    grid-area: logo;
    padding-left: 5px;
    min-width: 200px;
  }
}

.navbar-logo-div {
  height: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-grow: 1;
  // min-width: 250px;
}

.quick-contact-only-xs {
  display: none;
  @include screen-xs {
    background: var(--menu-color-2);
    display: flex;
    top: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    justify-content: space-around;
  }
}
.quick-contact-only-xs a {
  @include screen-xs {
    background: var(--menu-color-2);
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    text-decoration: none;
    font-size: 12px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
}

.sitn-logo-image {
  height: 4.2rem;
}

//================ submenu styles ================

.submenu-parent {
  position: relative;
}

.submenu {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, var(--main-color-4), var(--main-color-3));
  left: -50%;
  border-radius: 0px;
  overflow: hidden;

  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: 0.5s;
  @include screen-xs {
    position: relative;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    left: 0%;
    width: 100%;
  }
}

.submenu-open {
  transition: 0.5s;
  opacity: 1;
  transform: scaleY(1);
  height: auto;
  @include screen-xs {
    max-height: 300px; // musi być większe niż realna wysokość submenu
    opacity: 1;
  }
}

.submenu li a {
  width: auto;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
}

.submenu li {
  width: 100%;
  text-align: left;
  border-bottom: 1px var(--main-color-11) solid;
}

menu.navbar-menu-sidebar .submenu li a {
  display: flex;
  align-items: center;
  // padding-left: 40px;
  font-size: 0.95rem;
  color: var(--main-color-12);
  border-radius: 0px;

  &:hover {
    background-color: var(--menu-color-1);
    color: var(--menu-color-2);
  }
}

.arrow {
  position: absolute;
  width: 0.5em;
  height: 0.7em;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15em solid black;
  border-bottom: 0.15em solid black;
  transform: rotate(-45deg);
  padding-left: 10px;
  margin-left: 2px;
  margin-top: 0;
  transition: transform 500ms ease-in-out;
  @include screen-xs {
    width: 0.5em;
    height: 0.6em;
  }
}
