@use "~/scss/abstracts" as *;

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
  // overflow-y: scroll;
}
