.stuff-table-row {
  display: grid;
  row-gap: 3px;
  grid-template-columns: 0.5fr 0.8fr 0.3fr 0.7fr 0.5fr 1.2fr;
}

.retractable-panel {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(5, 1fr);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
}

.retractable-panel.active {
  max-height: max-content;
}
