@use "~/scss/abstracts" as *;

.calendar {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  border-radius: 15px;
  //   padding: 0 5px 0 10px;
  @include screen-xs {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
}

.calendar a {
  color: #fff;
  height: 100%;
}

.date-in-words {
  font-size: 0.9em;
  color: #fff;
  text-transform: capitalize;
}
.date-in-number {
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
  margin: 15px 0 0 0;
}

.day {
  border-radius: 10px;
  text-align: center;
  display: grid;
  grid-template-rows: 40px 30px repeat(10, minmax(80px, 1fr));
  gap: 4px;
}

.classes {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.1),
    0px 0px 2px 1px rgba(0, 0, 0, 0.1);
  background: hsl(
    from var(--main-color-10) calc(h + 0) calc(s + 0) calc(l + 0) / 0.4
  );
  // padding-top: 20px;
  border-radius: 10px;
}

// .active-classes {
//   // padding-top: 10px;
//   background: hsl(
//     from var(--main-color-10) calc(h + 0) calc(s + 0) calc(l + 0) / 0.3
//   );
//   height: inherit;
//   transition: background-color 0.3s ease;
// }

// .active-classes:hover {
//   background: hsl(
//     from var(--main-color-10) calc(h + 0) calc(s + 0) calc(l + 0) / 0.7
//   );
// }

.hour {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: var(--main-color-6);
  text-shadow: 0 0 7px black;
  @include screen-md {
    padding: 3px;
  }
}
