@use "~/scss/abstracts" as *;

:root {
  --admin-main-color: rgba(37, 59, 81, 1);
  --admin-main-color2: rgba(244, 248, 253, 1);
}

// HEDERS

.schedule {
  display: grid;
  height: 100%;
  grid-template-rows: 40px 1fr;
}

.title-tabs {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.title-tabs .tab:hover {
  background: hsl(
    from var(--admin-main-color2) calc(h + 0) calc(s + 0) calc(l + 0) / 0.4
  );
}

.title-tabs .tab {
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(
    from var(--admin-main-color2) calc(h + 0) calc(s + 0) calc(l + 0) / 0.2
  );

  border-radius: 10px 10px 10px 10px;
  box-shadow: inset 0px 4px 5px 0px rgba(255, 255, 255, 0.15);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  transition: background-color 0.7s ease;
  color: #cecece;
}

.title-tabs > a {
  color: #cecece;
}

.title-tabs .tab.active-tab {
  background: linear-gradient(var(--main-color-3), var(--main-color-4));
  transition: background-color 0.7s ease;
  color: #ffffff;
}

h2.title-page {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 300;
  margin-right: 20px;
  margin-left: 10px;
  color: azure;
}

// HEDERS

.calendar {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  border-radius: 15px;
}

.calendar a {
  color: #fff;
}

.date-in-words {
  font-size: 0.9em;
  color: #fff;
  text-transform: capitalize;
}
.date-in-number {
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
  margin: 15px 0 0 0;
}

.content-tabs {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.content-tab {
  // background: linear-gradient(var(--main-color-4), var(--main-color-1));
  background-color: var(--admin-main-color);
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  // box-shadow: inset 0px -8px 15px 0px rgba(0, 0, 0, 0.5);
  display: none;
}

.content-tabs .content-tab.active-content {
  display: block;
}

// .calendar .hours {
//   display: grid;
//   grid-template-rows: 100px repeat(10, 1fr);
// }
// .calendar .hours .hour {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: var(--main-color-7);
//   font-size: 1.3em;
//   font-weight: 700;
//   color: var(--main-color-2);
//   box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.1),
//     0px 0px 2px 1px rgba(0, 0, 0, 0.1);
// }
// .calendar .hours .hour:nth-child(odd) {
//   background-color: var(--main-color-10);
// }

// .calendar .hours .hour.transparent {
//   background-color: #ffffff00;
//   box-shadow: none;
// }

.calendar .hours .hour.transparent img {
  width: 50px;
}

.calendar .hours .hour.transparent img.arrow-right {
  rotate: 180deg;
}

.calendar .day {
  background: hsl(
    from var(--admin-main-color2) calc(h + 0) calc(s + 0) calc(l + 0) / 0.2
  );
  border-radius: 10px;
  text-align: center;
  display: grid;
  grid-template-rows: 40px 30px repeat(10, 1fr);
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.1),
    0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

.calendar .day .classes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.1),
    0px 0px 2px 1px rgba(0, 0, 0, 0.1);
  border-top: 3px solid var(--admin-main-color);
  background: hsl(
    from var(--admin-main-color) calc(h + 0) calc(s + 0) calc(l + 0) / 0.5
  );
}
.calendar .day .classes:nth-child(odd) {
  // background-color: var(--main-color-7);
}

.calendar .tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.classes:hover .tooltip {
  display: block;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* Strzałka poniżej tooltipu */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
