@use "~/scss/abstracts" as *;

.add-reservation {
  background-color: rgba(64, 136, 181, 0.3);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;
  gap: 2px;
  box-shadow: inset 0px -8px 15px 0px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background: linear-gradient(var(--main-color-3), var(--main-color-4));
}

.add-reservation .infobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.add-reservation .weather {
  display: flex;
  flex-direction: row;
}

.add-reservation .weather > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-reservation .weather > div .temperature,
.add-reservation .weather > div .wind-speed {
  color: #fff;
  font-size: 1.2em;
  margin-top: 10px;
}

.add-reservation .weather .wind {
  rotate: 210deg;
}

.add-reservation .infobox .day,
.add-reservation .infobox .date {
  color: #fff;
  font-size: 1.7em;
  margin-top: 10px;
}

.add-reservation .infobox input[type="submit"] {
  margin-top: 10px;
}

.add-reservation form .equipment-choice {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.add-reservation form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.add-reservation label,
.add-reservation input {
  width: 100%;
  color: #fff;
  display: block;
  font-weight: 300;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}
.add-reservation input,
.add-reservation select {
  border: none;
  border-radius: 5px;
  background: rgba(58, 91, 132, 0.5);
  border: 1px solid rgba(58, 91, 132, 0.5);
  margin-top: 5px;
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 10px;
  color: #fff;
}

.add-reservation input::placeholder {
  color: var(--main-color-2);
  text-shadow: none;
}

.add-reservation input[type="submit"] {
  font-size: 1em;
  background: rgba(58, 91, 132, 0.8);
  width: 300px;
}
